{% if session['role'] == "Admin" :%}
  {% include "admin_head.html" %}
{% elif session['role'] == "Customer" :%}
  {% include "customer_head.html" %}
{% endif %}


<div class="container">
  <div class="row">
    <div class="text-center h4" style="margin-top:70px">View Refund Payments</div>
    <table class="table text-center table-primary table-bordered mt-4">
      <tr>
        <thead>
          <th>Customer Name</th>
          <th>Card Number</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        </thead>
      </tr>
      <tbody>
       {% set payment = get_payment_by_refund(refund['payment_id'])%}
       {% set customer = get_customer_id(payment['customer_id'])%}
       <tr>
        <td>{{customer['name']}}</td>
        <td>{{payment['card_number']}}</td>
        <td>$ {{refund['amount']}}</td>
        <td>{{refund['date'].date()}} {{payment['date'].strftime("%I")}}:{{payment['date'].strftime("%M")}} {{payment['date'].strftime("%p")}}</td>
        <td>{{refund['status']}}</td>
       </tr>
      </tbody>
    </table>
  </div>
</div>
</div>